.mainCategories {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  border-top: 1px solid #38383818;
}

.searchInput {
  max-width: 260px;
}

.categories {
  display: flex;
}

.category {
  margin-right: 20px;
}

.category:last-child {
  margin-bottom: 0;
}
