@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

.cartLink {
  align-items: center;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  gap: 6px;
  padding: 10px 15px;
  background: #000;
  transition: all 0.4s ease;
}

.cartLink:hover {
  background: #006fee;
}

.cartLink.active {
  background: #006fee;
}
