nav {
  padding-top: 70px;
}

header {
  padding-bottom: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 45px;
  margin-right: 15px;
}

.logoTitle {
  font-weight: 700;
  font-size: 28px;
}

.logoSubtitle {
  font-size: 18px;
}

.cart {
  display: flex;
}

@media (max-width: 605px) {
  nav {
    padding-top: 40px;
  }

  .logoTitle {
    font-size: 24px;
  }

  .logoSubtitle {
    display: none;
  }

  .themeSwitch {
    display: none;
  }
}
